@media (max-width: 770px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
  }
  .logInWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 90%;
    height: 500px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #1f1c23;
  }
}
@media (min-width: 770px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
  }
  .logInWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 30%;
    height: 500px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #1f1c23;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  height: 30px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 12px;
  padding-left: 20px;
}

.input:focus {
  border-bottom: 1px solid orange;
  padding-left: 20px;
  width: 100%;
}

.usernameHasValue {
  width: 100%;
  height: 30px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid orange;
  border-radius: 12px;
  padding-left: 20px;
  color: white;
}
.passwortHasValue {
  width: 100%;
  height: 30px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid orange;
  border-radius: 12px;
  padding-left: 20px;
  color: white;
}

.username > label[id="username"] {
  position: relative;
  left: 20px;
  bottom: 50px;
  color: orange;
}
.passwort > label[id="password"] {
  position: relative;
  left: 20px;
  bottom: 50px;
  color: orange;
}
.usernameHasValue:hover > label[id="username"] {
  position: relative;
  left: 40px;
  bottom: 50px;
}

.header {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 50px;
  color: white;
}
.loginButton {
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
}
.signUp {
  margin-top: 4%;
  color: #8e8e8e;
  font-size: small;
}
.icons {
  display: flex;
  flex-direction: rouw;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.github {
  border-radius: 112px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  cursor: pointer;
}
.facebook {
  cursor: pointer;
}
.email {
  cursor: pointer;
}
.google {
  cursor: pointer;
}
.forgotPassword {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  margin-top: 0%;
}
.resetPassword {
  margin-left: 4px;
  text-decoration: underline;
}
.resetPassword:hover {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}
.waves {
  z-index: 2;
}
.tkblob {
  z-index: 1;
  animation: blob-turn var(--time, 30s) linear infinite;
  fill: var(--fill, #7600f8);
  position: fixed;
  transform-origin: center;
  width: 700px;
  height: 500px;
  left: 0;
  top: 0;
}

.tkblob svg {
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center;
}

.tkblob svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tkblob2 {
  z-index: 1;

  animation: blob-turn var(--time, 30s) linear infinite;
  fill: var(--fill, red);
  position: fixed;
  transform-origin: center;
  width: 800px;
  height: 500px;
  right: 0;
  bottom: 0;
}

.tkblob2 svg {
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center;
}

.tkblob2 svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}
.tkblob3 {
  z-index: 1;

  animation: blob-turn var(--time, 30s) linear infinite;
  position: fixed;
  transform-origin: center;
  fill: rgb(92, 155, 92);
  width: 700px;
  height: 500px;
  right: 0;
  top: 0;
}

.tkblob3 svg {
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center;
}

.tkblob3 svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}
.tkblob4 {
  z-index: 1;

  animation: blob-turn var(--time, 30s) linear infinite;
  position: fixed;
  transform-origin: center;
  fill: rgb(164, 4, 108);
  width: 600px;
  height: 500px;
  left: 0;
  bottom: 0;
}

.tkblob4 svg {
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center;
}

.tkblob4 svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }
  13% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  18% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  24% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  25% {
    transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }
  26% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  32% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  37% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  68% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  74% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  75% {
    transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }
  76% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  82% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  87% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(0.9) scaleY(1);
  }
  25% {
    transform: scaleX(0.9) scaleY(0.9);
  }
  50% {
    transform: scaleX(1) scaleY(0.9);
  }
  75% {
    transform: scaleX(0.9) scaleY(0.9);
  }
  100% {
    transform: scaleX(0.9) scaleY(1);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
